<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Main</key>
	<array>
		<dict>
			<key>subLabelType</key>
			<string>version</string>
			<key>segueIdentifier</key>
			<string>none</string>
			<key>hasSegue</key>
			<true/>
			<key>name</key>
			<string>バージョン</string>
		</dict>
		<dict>
			<key>iconImageName</key>
			<string>opensourse</string>
			<key>subLabelType</key>
			<string>none</string>
			<key>segueIdentifier</key>
			<string>showOpenSource</string>
			<key>hasSegue</key>
			<true/>
			<key>name</key>
			<string>オープンソースライセンス</string>
		</dict>
		<dict>
			<key>name</key>
			<string>不具合報告</string>
			<key>hasSegue</key>
			<false/>
			<key>segueIdentifier</key>
			<string>mail</string>
			<key>subLabelType</key>
			<string>none</string>
		</dict>
	</array>
	<key>Sub</key>
	<array>
		<dict>
			<key>name</key>
			<string>天気</string>
			<key>hasSegue</key>
			<false/>
			<key>segueIdentifier</key>
			<string>weather</string>
			<key>subLabelType</key>
			<string>weather</string>
		</dict>
		<dict>
			<key>subLabelType</key>
			<string>none</string>
			<key>segueIdentifier</key>
			<string>showBookmark</string>
			<key>hasSegue</key>
			<true/>
			<key>name</key>
			<string>ブックマーク</string>
		</dict>
		<dict>
			<key>subLabelType</key>
			<string>longPress</string>
			<key>segueIdentifier</key>
			<string>longPress</string>
			<key>hasSegue</key>
			<false/>
			<key>name</key>
			<string>ブックマークの長押し設定</string>
		</dict>
		<dict>
			<key>subLabelType</key>
			<string>pushNotification</string>
			<key>segueIdentifier</key>
			<string>pushNotification</string>
			<key>name</key>
			<string>プッシュ通知</string>
			<key>hasSegue</key>
			<false/>
		</dict>
		<dict>
			<key>subLabelType</key>
			<string>none</string>
			<key>segueIdentifier</key>
			<string>history</string>
			<key>hasSegue</key>
			<true/>
			<key>name</key>
			<string>閲覧履歴</string>
		</dict>
		<dict>
			<key>name</key>
			<string>キャッシュを全て削除</string>
			<key>hasSegue</key>
			<false/>
			<key>segueIdentifier</key>
			<string>removeCache</string>
			<key>subLabelType</key>
			<string>none</string>
		</dict>
	</array>
</dict>
</plist>
