<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>34001452391-8vs7bmau071bmtarrhfav03aaurritp9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.34001452391-8vs7bmau071bmtarrhfav03aaurritp9</string>
	<key>API_KEY</key>
	<string>AIzaSyDMmUJLkcxvQem_GXj5ylUajkjzLdXXOYA</string>
	<key>GCM_SENDER_ID</key>
	<string>34001452391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eccentricyan.dev.pohe-ios</string>
	<key>PROJECT_ID</key>
	<string>pohe-7a3e8</string>
	<key>STORAGE_BUCKET</key>
	<string>pohe-7a3e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34001452391:ios:fb19047ad5623f4f</string>
	<key>DATABASE_URL</key>
	<string>https://pohe-7a3e8.firebaseio.com</string>
</dict>
</plist>